body{
    background-color: #E6BC8C;
    width: 100vw;
    height: 100vh;
}

header{
    margin-bottom: 0.5%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:#006691; 
    color: white;
    padding: 0.7em;
    font-size:300%;
}
nav{
    padding: 0.4em;
    background-color:#079EDE;
    border: 2px solid white;
    width: 100vw;
    height:50px;
}
nav ul{
    display: flex;
    flex-direction: row;
}
nav li{
    font-size: 150%;
    padding-left: 10px;
    font-size: 150%;
    list-style: none;
}
nav li a{
    color: white;
    text-decoration: none;
    padding-left: 20px;
}
#idLegend{
    font-size:2.5rem;
    color:white;
    text-align:center;
}
#espacio {
    height: 3vh;
}

#idParrafo1{
    text-align: center;
    font-size:2rem;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 10px 10px 10px;
}
#idParrafo2{
    text-align: center;
    justify-content: center;
    font-size:2rem;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0 10px 10px 10px;
}
#idParrafo2 ul{
    list-style: none;
    text-decoration: none;
}
#idParrafo3{
    text-align: center;
    justify-content: center;
    font-size:2rem;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 10px 10px 10px;
}
#sectionMateriales{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
#idTitutloMateriales{
    font-size:3rem;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.cajas{
    background: linear-gradient(90deg, rgba(9,121,120,1) 0%, rgba(0,212,255,1) 100%);
    width:300px;
    color: black;
    font-size:2em;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.listaFletes h3{
    background-color: #006691;
    color: white;
}
.listaFletes ul{
    background-color:#eed2b2;
    text-decoration: none;
    list-style: none;
}
.introFletes{
    font-size:3rem;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.listaFletes{
    color: black;
    font-size:2em;
    text-align: center;
}

.cajasFletes{
    transition-timing-function: ease-in-out;
    transition: 1s;
}

.cajasFletes:hover{
    transform: scale(1.2);
}

footer{
    position: fixed;
    bottom: 0;
    padding: 1em;
    border: 2px solid #CFA97E;
    color: white;
    font-size:2em;
    display: flex;
    flex-direction: column; 
}
#idVolverInicio{
    list-style: none;
    text-decoration: none;
    margin-left:30px;
    margin-bottom: 30px;
    margin-top: 30px;
}

#idContacto{
    background-color:#E6BC8C;
    width: 100vw;
    height: 100vh;                      
}

.contacto{
    display: flex;
    flex-direction: column;
}
#idTitulo{
    font-size:2.5rem;
    margin-left:2%;
    margin-top: 2%;
    color:white;
}
.formContacto{
    margin: 20px 10px 10px 40px;
}
#idNombre{
    width:200px;
    margin: 0px 10px 10px 10px;
}
#idTelefono{
    width:200px;
    margin: 0px 10px 10px 10px;
}
#idEmail{
    width:200px;
    margin: 0px 10px 10px 10px;
}
.botones{
    width:300px;
    margin: 10px 10px 10px 10px;
}
label{
    position: relative;
    display: inline-block;
    width: 150px;
    margin-left:20px;
}
#idOpcion{
    width:300px;
}

@media only screen and (min-width: 480px) and (max-width: 1023px) {
    
    main{
        grid-area: main;
        display: grid;
        grid-template-rows: repeat(3,1fr);
        grid-template-columns: 1fr;
        grid-template-areas: "parrafo1"
                             "parrafo2"
                             "parrafo3";
    }

    .container1{
        grid-area: parrafo1;
        color: white;
        padding: 0 10px 10px 10px;
        height: 100px;
        width:100vw;
    }

    .container2{
        grid-area: parrafo2;
        color: white;
        padding: 0 10px 10px 10px;
        height: 100px;
        width:100vw;

    }

    .container3{
        grid-area: parrafo3;
        justify-content: center;
        color: white;
        padding: 0 10px 10px 10px;
        height: 100px;
        width:100vw;
    }
}
@media only screen and (min-width: 620px) and (max-width: 1023px){
    .container3{
        grid-area: parrafo3;
        margin-top: 50px;
        justify-content: center;
        color: white;
        padding: 0 10px 10px 10px;
        height: 100px;
        width:100vw;
    }
}