

#idLegend{
    font-size:2.5rem;
    color:white;
    text-align:center;
}


#espacio {
    height: 3vh;
}


#idParrafo1{
    @include estiloParrafos;
}


#idParrafo2{
    @extend estiloParrafos;
    margin-left: 20px;
    margin-right: 20px;
    ul{
        @include resetLista;
    }
}


#idParrafo3{
    @include estiloParrafos;
}